html,
body,
#root {
	height: 700px;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

.layoutflow {
	height: calc(100% - 45px);
	width: calc(100% - 20px);
	position: relative;

	margin-top: 10px;
	border: 2px solid #87b2df;
	border-radius: 10px;
	overflow: hidden;
}

.react-flow__node {
	min-width: max-content;
	border-radius: 80px !important;
	border: 2px solid #87b2df !important;
	box-shadow: var(--node-box-shadow);
}

.react-flow__handle {
	opacity: 0;
}

.layoutflow .controls {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	font-size: 12px;
	margin-right: 10px;
}

.layoutflow .controls button {
	margin-right: 10px;
	color: black;
}

.layoutflow .controls button:hover {
	background: #fff;
	color: black;
	cursor: pointer;
}

.select {
	right: -10px;
	top: 10px;
	width: 399px;
	z-index: 9;
}

.App button,
input[type='submit'] {
	background-color: #4488ce;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.react-flow__controls {
	bottom: 60px !important;
}

.semi-transparent {
	position: absolute;
	padding: 0;
	margin: 0;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	z-index: 90;
}

.spinner {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	z-index: 100;
}
